*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 2px solid red; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-center {
    /* border: 2px solid black; */
    width: 100%;
    background-color: pink;
    
}
.nav-header {
    height: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}
.logo {
    height: 100%;
}

i {
    font-size: 2.5em;
    padding: 0.5rem;
    background-color: rgb(246, 127, 147);
}
button {
    border: none;
    
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
li {
    width: 100%;
    text-align: center;
    border-top: 1px solid black;
}
li:last-of-type {
    border-bottom: 1px solid black;
}

a {
    text-decoration: none;
    display:inline-block;
    width:100%;
    height:100%;
    padding: 0.5em;
    color: black;
    font-weight: 600;
}

.links {
    height: 0;
    overflow: hidden;
    transition: height 1s;
} 

/* TOGGLE CLASS */
.show-links {
    height: 9.1rem;
}

a:hover {
    color: white;
}


@media (min-width: 800px)
{
    button {
        visibility: hidden;
    }

    .nav-center {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        width: 60%
    }
    li {
        width: 25%;
        text-align: center;
        border-top: none;
        align-self: center;
        font-size: 1.2em;
    }
    li:last-of-type {
        border-bottom: none;
    }
    a {
        margin-top: auto;
        margin-bottom: auto;
        vertical-align: middle;
    }
    .show-links {
        height: auto;
    }
    .links {
        height: auto;
    }


}